In [1]:
import random
import pandas as pd

In [2]:
# for reproducibility
random.seed(420)

In [3]:
# our names in alphabetical order by last name
gamblers = ['Colin Andrus',
           'Justin Diego',
           'Chris DuCharme',
           'Jack Hill',
           'Jackson McFall',
           'Ben Pelle', 
           'Arjun Reddy', 
           'Colton Skavicus']

In [4]:
# top 8 drivers for 2018 in current standings
drivers = ['KYLE BUSCH', 
           'KEVIN HARVICK', 
           'MARTIN TRUEX JR.', 
           'KURT BUSCH', 
          'CLINT BOWYER',
          'JOEY LOGANO',
          'BRAD KESELOWSKI',
          'KYLE LARSON']

In [5]:
# randomly sort drivers
random.shuffle(drivers)

In [6]:
# display results
pd.DataFrame({'gambler':gamblers, 'driver':drivers})

             driver          gambler
0     KEVIN HARVICK     Colin Andrus
1      CLINT BOWYER     Justin Diego
2       KYLE LARSON   Chris DuCharme
3        KURT BUSCH        Jack Hill
4   BRAD KESELOWSKI   Jackson McFall
5  MARTIN TRUEX JR.        Ben Pelle
6       JOEY LOGANO      Arjun Reddy
7        KYLE BUSCH  Colton Skavicus